@model IEnumerable<SVG_Restaurants.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

@{
    string cID = Context.Request.Query["CustomerId"];
    string rID = Context.Request.Query["RestaurantId"];
    string gID = Context.Request.Query["GuestId"];
    string rvID = Context.Request.Query["ReservationId"];
    string wID = Context.Request.Query["WorkerId"];

}

@if (rID == "1")
{
    <style type="text/css">
        body {
            background-color: #fcfcfc;
        }
    </style>
}
else if (rID == "2")
{
    <style type="text/css">
        body {
            background-color: #fff8dc;
        }
    </style>
}
else if (rID == "3")
{
    <style type="text/css">
        body {
            background-color: #dae1e6;
        }
    </style>
}
else
{
    <style type="text/css">
        body {
            background-color: white;
        }
    </style>
}

<style>
    .custom-gold-bg {
        background-color: #FFB81F; /* Background color in light mode */
    }

    .custom-gold-text {
        color: black; /* Text color in light mode */
    }

    .custom-silver-bg {
        background-color: #B3B3B3; /* Background color in light mode */
    }

    .custom-silver-text {
        color: black; /* Text color in light mode */
    }


    .table th,
    .table td {
        text-align: center;
    }

</style>
<!-- Table Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mt-[-40px]">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                    <!-- Header -->
                    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
                        <div>
                            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                Make Reservation For Customers
                            </h2>
                        </div>

                        <div>
                            <div class="inline-flex gap-x-2">
                                <a asp-controller="RestaurantWorkers" asp-action="Home" asp-route-WorkerId="@wID" asp-route-RestaurantId="@rID" class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-gray-800 text-white shadow-sm align-middle hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:text-gray-400 dark:border-gray-700 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                        Go back
                                    </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Header -->
                    <!-- Search form -->
                    <form method="post" asp-controller="Customers" asp-action="AllCustomers" asp-route-RestaurantId="@rID" asp-route-WorkerId="@Context.Request.Query["WorkerId"]" class="row mt-4 mb-4 px-6">
                        <div class="col-2 ">    
                            <input name="nameSearch" placeholder="Enter customer name..." class="form-control"
                                   title="Search for customer by name" />
                        </div>

                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-secondary bg-blue-500 text-white hover:bg-blue-600">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-lg-5">
<table class="table" style="background-color: white; margin-top: 0;">
    <thead class="bg-gray-200">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoyaltyPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Username)</td>
            <td>
                @if (item.Status == "Gold")
                {
                <span class="inline-flex items-center gap-1.5 py-0.5 px-2 rounded-full text-xs font-medium custom-gold-bg custom-gold-text">
                    <svg class="w-2.5 h-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                    Gold
                </span>

                }
                else if (item.Status == "Silver")
                {

                <span class="inline-flex items-center gap-1.5 py-0.5 px-2 rounded-full text-xs font-medium custom-silver-bg custom-silver-text">
                    <svg class="w-2.5 h-2.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                    Silver
                </span>

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoyaltyPoints)
            </td>
            <td>
                <a asp-controller="Reservations" asp-action="Create" asp-route-RestaurantId="@rID" asp-route-CustomerId="@item.CustomerId" asp-route-WorkerId="@wID">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>