@model IEnumerable<SVG_Restaurants.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

@{
    string cID = Context.Request.Query["CustomerId"];
    string rID = Context.Request.Query["RestaurantId"];
    string gID = Context.Request.Query["GuestId"];
    string rvID = Context.Request.Query["ReservationId"];
    string wID = Context.Request.Query["WorkerId"];

}
<!-- Table Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                    <!-- Header -->
                    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
                        <div>
                            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                Make Reservation For Customers
                            </h2>
                        </div>

                        <div>
                            <div class="inline-flex gap-x-2">
                                    <a asp-controller="RestaurantWorkers" asp-action="Home" asp-route-WorkerId="@wID" asp-route-RestaurantId="@rID" class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                        Go back
                                    </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Header -->
                    <!-- Search form -->
                    <form method="post" asp-controller="Customers" asp-action="AllCustomers" asp-route-RestaurantId="@rID" asp-route-WorkerId="@Context.Request.Query["WorkerId"]" class="row mt-4 mb-4 px-6">
                        <div class="col-2 ">    
                            <input name="nameSearch" placeholder="Enter customer name..." class="form-control"
                                   title="Search for customer by name" />
                        </div>

                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-secondary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoyaltyPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoyaltyPoints)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.CustomerId">Make Reservation</a>
            </td>
        </tr>
}
    </tbody>
</table>
