@model SVG_Restaurants.ViewModels.RedeemViewModel

@{
    ViewData["Title"] = "Redeem";
    string cID = Context.Request.Query["customerID"];

}

<style type="text/css">
    body {
        background-color: #A9927D;
    }
</style>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
        Remaining Points: @Model.customer.LoyaltyPoints
        <a asp-action="Index" asp-controller="Home" asp-route-customerID="@Model.customer.CustomerId">Back to Home</a>
    </div>

// $35 Card 
    @if (TempData["Points"] != null && TempData["Points"].ToString() == "1500")
    {
        <div>
            <a id="downloadLink" style="display: block;" download="voucher.jpg">Download your Voucher here!</a>
            <img id="voucherImage" src="/img/GoldTierVoucher.png" alt="Voucher Image">
        </div>

        <script>
            const imageUrl = "/img/GoldTierVoucher.png";
            const imageElement = document.getElementById("voucherImage");
            const downloadLink = document.getElementById("downloadLink");

            const randomNumber = Math.floor(Math.random() * 1000).toString();

            downloadLink.href = imageUrl;
            downloadLink.download = "Voucher_" + randomNumber + ".jpg";

        </script>

    }

    //$10 Gift Card
    @if (TempData["Points"] != null && TempData["Points"].ToString() == "500")
    {
        <div>
            <a id="downloadLink" style="display: block;" download="voucher.jpg">Download your Voucher here!</a>
            <img id="voucherImage" src="/img/SilverTierVoucher.png" alt="Voucher Image">
        </div>

        <script>
            const imageUrl = "/img/SilverTierVoucher.png";
            const imageElement = document.getElementById("voucherImage");
            const downloadLink = document.getElementById("downloadLink");

            const randomNumber = Math.floor(Math.random() * 1000).toString();

            downloadLink.href = imageUrl;
            downloadLink.download = "Voucher_" + randomNumber + ".jpg";

            imageElement.addEventListener("click", function () {
                // Show the download link when the image is clicked
                downloadLink.style.display = "block";
            });
        </script>
    }
}

else
{


    <div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <form asp-action="RedeemPoints" method="post">
            <input type="hidden" asp-for="CustomerId" value="@cID" />

            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
                <div class="md:flex flex-col">
                    <div class="p-8">
                        <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-300 dark:group-hover:text-white">
                            Redeem Points for Gift Card
                        </h3>
                        <div class="pt-0 p-4 sm:pt-0 sm:p-7">
                            <div class="space-y-4 sm:space-y-6">
                                <label for="af-submit-app-project-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-gray-200">
                                    Points Available: @Model.customer.LoyaltyPoints
                                </label>

                                <div class="flex">
                                    <input type="checkbox" class="checkbox" id="hs-default-checkbox" value="500">
                                    <label for="hs-default-checkbox" class="text-sm text-gray-500 ml-3 dark:text-gray-400"> $10 Voucher</label>
                                </div>

                                @if (Model.customer.LoyaltyPoints >= 1500)
                                {
                                    <div class="flex">
                                        <input type="checkbox" class="checkbox" id="hs-checked-checkbox" value="1500">
                                        <label for="hs-checked-checkbox" class="text-sm text-gray-500 ml-3 dark:text-gray-400"> $35 Voucher</label>
                                    </div>

                                }

                                <input type="hidden" id="points" name="pointsToRedeem" asp-for="pointsToRedeem" readonly>


                            </div>
                            <div class="mt-5 flex justify-center gap-x-2">
                                <button type="submit" class="bg-orange-500 text-white font-bold py-2 px-4 rounded-full"  style="display: inline-flex; align-items: center;">
                                    Redeem Points
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


}

<script>
    const checkboxes = document.querySelectorAll('.checkbox');
    const pointsToRedeemInput = document.getElementById('points');

    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function () {
            // Uncheck all other checkboxes
            checkboxes.forEach((otherCheckbox) => {
                if (otherCheckbox !== this) {
                    otherCheckbox.checked = false;
                }
            });

            // Update the hidden input with the selected checkbox value
            pointsToRedeemInput.value = this.value;
        });
    });

</script>