@model SVG_Restaurants.Models.Reservation

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Complete</h2>

<h3>Are you sure you want to complete this item?</h3>
<div>
    <p>@Context.Request.Query["workerID"]</p>
    @if (Model.Customer == null)
    {
        <p>Guest: @Model.Guest.FirstName</p>
    }
    else
    {
        <p>Customer: @Model.Customer.FirstName</p>
    }
    <p>@Model.ReservationId</p>
    <form asp-action="Complete" asp-route-restaurantID="@Context.Request.Query["restaurantID"]" asp-route-workerID="@Context.Request.Query["workerID"]">
        <a asp-controller="RestaurantWorkers" asp-action="Home" asp-route-restaurantID="@Context.Request.Query["restaurantID"]" asp-route-workerID="@Context.Request.Query["workerID"]">Back to List</a>
        <input id="formButton" type="submit" value="Complete" class="btn btn-danger" />
        <span id="cancel" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full" style="display: none;" aria-label="Loading"></span>
    </form>
</div>

<script>
    document.getElementById('formButton').addEventListener('click', function (e) {

        this.disabled = true;

        document.getElementById('cancel').style.display = 'inline-block';

        setTimeout(function () {
            document.querySelector('form').submit();
        }, 300);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var logOutButton = document.getElementById('formButton');

        logOutButton.addEventListener('click', function () {
            // Show an alert when the button is clicked
            alert('You have successfully cancelled your booking.');
        });
    });

</script>