@model SVG_Restaurants.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTiming)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTiming)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.AreaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banquet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banquet.BanquetId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.RestaurantName)
        </dd>
    </dl>
    @{
        int customerId = Model.Customer.CustomerId;
        string restaurantId = Context.Request.Query["RestaurantID"];

    }
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservationId" />
        <input id="delete" type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Home" asp-action="Index" asp-route-customerID="@customerId"></a>
    </form>

</div>
<script>document.addEventListener('DOMContentLoaded', function () {
        var logOutButton = document.getElementById('delete');

        logOutButton.addEventListener('click', function () {
            // Show an alert when the button is clicked
            alert('You have successfully cancelled your booking.');
        });
    });</script>