@model SVG_Restaurants.ViewModels.RestaurantReservationVM

@{
    ViewData["Title"] = "Home";
}

@*<style>
        body {
            background-color: #D0CFCF;
        }
    </style>*@

@{
    string cID = Context.Request.Query["customerID"];
    string rID = Context.Request.Query["restaurantID"];
    string gID = Context.Request.Query["GuestID"];
    string rvID = Context.Request.Query["ReservationID"];

}

@if (rID == "1")
{
    <style type="text/css">
        body {
            background-color: #fcfcfc;
        }
    </style>
}
else if (rID == "2")
{
    <style type="text/css">
        body {
            background-color: #fff8dc;
        }
    </style>
}
else if (rID == "3")
{
    <style type="text/css">
        body {
            background-color: #dae1e6;
        }
    </style>
}
else
{
    <style type="text/css">
        body {
            background-color: white;
        }
    </style>
}
<!-- Table Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                    <!-- Header -->
                    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
                        <div>
                            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                Upcoming Bookings for @Model.theRestaurant.RestaurantName
                            </h2>
                        </div>

                        <div>
                            <div class="inline-flex gap-x-2">
                                <a class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-blue text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" href="#">
                                    Modify Reservation
                                </a>

                                <a class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-medium bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" href="#">
                                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                    Make a Reservation
                                </a>

                                <a asp-controller="Home" asp-action="Index" class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                    Log out
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Header -->
                    <!-- Table -->
                    <!--<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">

                        <thead class="bg-gray-50 dark:bg-slate-800">
                            <tr>
                                <th scope="col" class="pl-6 lg:pl-3 xl:pl-0 pr-6 py-3 text-left">
                                    <div class="flex items-center gap-x-2">
                                        <span class="text-xs font-medium  tracking-wide text-gray-800 dark:text-gray-200">
                                            Reservation ID
                                        </span>
                                    </div>
                                </th>-->
                    @*<th scope="col" class="pl-6 lg:pl-3 xl:pl-0 pr-6 py-3 text-left">
                            <div class="flex items-center gap-x-2">
                                <span class="text-xs font-medium  tracking-wide text-gray-800 dark:text-gray-200">
                                    Customer ID
                                </span>
                            </div>
                        </th>

                        <th scope="col" class="pl-6 lg:pl-3 xl:pl-0 pr-6 py-3 text-left">
                            <div class="flex items-center gap-x-2">
                                <span class="text-xs font-medium  tracking-wide text-gray-800 dark:text-gray-200">
                                    Guest ID
                                </span>
                            </div>
                        </th>*@

                    <!--<th scope="col" class="pl-6 lg:pl-3 xl:pl-0 pr-6 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium  tracking-wide text-gray-800 dark:text-gray-200">
                                        Customer Name
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-2 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        Number of People
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        Reservation Time
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        Banquet
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        Phone Number
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        Dining Area
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-4 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        High Chairs
                                    </span>
                                </div>
                            </th>

                            <th scope="col" class="px-6 py-3 text-left">
                                <div class="flex items-center gap-x-2">
                                    <span class="text-xs font-medium tracking-wide text-gray-800 dark:text-gray-200">
                                        Special Notes
                                    </span>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        foreach (var reservation in Model.reservations)
                        {-->
                    @*<tr>
                            <th scope="row">@reservation.ReservationId</th>

                            <td>@(reservation.Customer?.FullName ?? reservation.Guest?.FullName)</td>
                            <td>@Html.DisplayFor(item => reservation.NumberOfPeople)</td>
                            <td>@Html.DisplayFor(item => reservation.ReservationTiming)</td>
                            <td>@Html.DisplayFor(item => reservation.Banquet.BanquetName)</td>
                            <td>@(reservation.Customer?.PhoneNumber ?? reservation.Guest?.PhoneNumber)</td>
                            <td>@Html.DisplayFor(item => reservation.Area.Area)</td>
                            <td>@Html.DisplayFor(item => reservation.HighChairs)</td>
                            <td>@Html.DisplayFor(item => reservation.SpecialNotes)</td>
                        </tr>*@
                    <!--}
                            </tbody>

                        </table>-->
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table" style="background-color: white; margin-top: 0;">
    <thead>
        <tr>
            <th>
                Reservation ID
            </th>
            <th>
                Full Name
            </th>
            <th>
                Number of People
            </th>
            <th>
                Reservation Time
            </th>
            <th>
                Banquet
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Dining Area
            </th>
            <th>
                High Chairs
            </th>
            <th>
                Special Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.reservations)
        {
            <tr>
                <th scope="row">@reservation.ReservationId</th>
                @*<td>@(reservation.Customer?.CustomerId ?? -1)</td>
                    <td>@(reservation.Guest?.GuestId ?? -1)</td>*@
                <td>@(reservation.Customer?.FullName ?? reservation.Guest?.FullName)</td>
                <td>@Html.DisplayFor(item => reservation.NumberOfPeople)</td>
                <td>@Html.DisplayFor(item => reservation.ReservationTiming)</td>
                <td>@Html.DisplayFor(item => reservation.Banquet.BanquetName)</td>
                <td>@(reservation.Customer?.PhoneNumber ?? reservation.Guest?.PhoneNumber)</td>
                <td>@Html.DisplayFor(item => reservation.Area.Area)</td>
                <td>@Html.DisplayFor(item => reservation.HighChairs)</td>
                <td>@Html.DisplayFor(item => reservation.SpecialNotes)</td>
                <td><a></a></td>
            </tr>
        }
    </tbody>
</table>
