@model SVG_Restaurants.ViewModels.CustomerDetailsVM

@{
    ViewData["Title"] = "Home Page";
}

   <style type="text/css">
        body {
            background-color: #A9927D;
        }
    </style>
<div class="text-center">
<h1 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
    Soylent Green Ventures
</h1>
</div>
<body>
<div class="row justify-content-end">
    @{
        // Display Login buttons if customerID is not present
        if (@Model.CustomerID == 0)
        {
            <div class="col-auto">
                <a asp-controller="Customers" asp-action="Login" class="btn btn-outline">Login as Customer</a>
            </div>
            <div class="col-auto">
                <a asp-controller="RestaurantWorkers" asp-action="Login" class="btn btn-outline">Login as Staff</a>
            </div>
        }
        else
        {
            <div class="col-auto">
                <a asp-controller="Customers" asp-action="Delete" asp-route-customerID="@Context.Request.Query["CustomerID"]" class="btn btn-outline">Delete Account</a>
            </div>
            <div class="col-auto">
                <a asp-controller="Customers" asp-action="Edit" asp-route-customerID="@Context.Request.Query["CustomerID"]" class="btn btn-outline">Edit Profile</a>
            </div>
            <div class="col-auto">
                <a  id="LogOut" asp-controller="Home" asp-action="Index" class="btn btn-outline">Log out</a>
            </div>
        }
    }
</div>


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="restaurantsLink" class="nav-link active btn-outline" aria-current="page" href="#">Restaurants</a>
        </li>
        <li class="nav-item">
            <a id="upcomingBookingsLink" class="nav-link active btn-outline" aria-current="page" href="#">Upcoming Bookings</a>
        </li>
    </ul>
    @{
        if (Model.CustomerID == 0)
        {
            <div class="text-center">
            <div id="upcomingBookings">
                    <h2 class="font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">
                    Log in to see your upcoming bookings!
                </h2>
            </div>
            </div>
        }
        else
        {
            <div class="text-center">
            <div id="upcomingBookings">
                @{
                    if(Model.Reservations.Count() == 0)
                    {
                            <h2 class="font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">No upcoming bookings :(</h2>
                        }
                    else
                    {
                        foreach (var reservation in Model.Reservations)
                        {
                            <div>
                                <p>Reservation ID is: @reservation.ReservationId</p>
                                <p>Restaurant ID is: @reservation.RestaurantId</p>
                                <p>The booking time is: @reservation.ReservationTiming</p>
                                <p>The number of people for this booking is: @reservation.NumberOfPeople</p>
                                <hr/>
                            </div>
                        }
                    }
                }
            </div>
            </div>
        }
    }

<!-- Card Blog -->
<div id="allCards" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="row">
        <!-- Card -->
        <a asp-controller="Restaurants" asp-action="BambooLeaf" class="col-4 group rounded-xl overflow-hidden" id="restaurantCard">
            <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
                <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:text-black group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/img/Bamboo Restaurant.jpg" alt="Image Description">
                <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900">
                    Special Banquet Available!
                </span>
            </div>

            <div class="mt-7">
                <h3 class="text-xl font-semibold text-sm mb-2 dark:text-black" style="font-family: Baskerville">
                    Bamboo Leaf
                </h3>
                <p class="mt-3 mb-2 hover:text-black dark:text-black">
                    Discover a modern twist on Asian fusion cuisine, drawing inspiration from the simplicity and originality of bamboo leaves. Join us at 25 Gouger Street, Adelaide!
                </p>
                <p></p>

                <p class="mt-5 inline-flex items-center gap-x-1.5 decoration-2 group-hover:underline font-medium" style="color: #362417">
                    Make a reservation
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </p>

            </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a asp-controller="Restaurants" asp-action="LaOeste" class="col-4 group rounded-xl overflow-hidden" id="restaurantCard">
            <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
                <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/img/Brazilian Restaurant.jpg" alt="Image Description">
            </div>

            <div class="mt-7">
                <h3 class="text-xl font-semibold text-sm mb-2 dark:text-black" style="font-family: Baskerville">
                    La Oeste De La Mar
                </h3>
                <p class="mt-3 mb-2 dark:text-black">
                    La Oeste De La Mar: Sizzling Brazilian flavors in the heart of Adelaide. Discover our stunning restaurant at 40 120 North Terrace. Join us for an unforgettable taste of Brazil!
                </p>
                <p></p>
                <p class="mt-5 inline-flex items-center gap-x-1.5 decoration-2 group-hover:underline font-medium" style="color: #362417">
                    Make a reservation
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </p>
            </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a asp-controller="Restaurants" asp-action="Mexikana" class="col-4 group rounded-xl overflow-hidden" id="restaurantCard">
            <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
                <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/img/Mexican Restaurant.jpg" alt="Image Description">
                <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900">
                    Special Banquet Available!
                </span>
            </div>

            <div class="mt-7">
                <h3 class="text-xl font-semibold text-sm mb-2 dark:text-black" style="font-family: Baskerville">
                    Mexikana
                </h3>
                <p class="mt-3 mb-2 dark:text-black">
                    Indulge in a fusion of Korean and Mexican flavors designed with hipsters in mind! Join us at 40 Fullarton Road in Norwood, where culinary creativity meets vibes.
                </p>
                <p class="mt-5 inline-flex items-center gap-x-1.5 decoration-2 group-hover:underline font-medium" style="color: #362417">
                    Make a reservation
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </p>
            </div>
        </a>
        <!-- End Card -->

    </div>
    <!-- End Grid -->
</div>
<!-- End Card Blog -->

<script>// Event listener for the "Upcoming Bookings" link
    const upcomingBookingsLink = document.getElementById('upcomingBookingsLink');
    const allCards = document.getElementById('allCards');
    const upcomingBookings = document.getElementById('upcomingBookings');

    upcomingBookingsLink.addEventListener('click', function (event) {

        allCards.style.display = 'none';
        upcomingBookings.style.display = 'block';

    });

    // Event listener for the "Restaurants" link
    const restaurantsLink = document.getElementById('restaurantsLink');
    restaurantsLink.addEventListener('click', function (event) {
        allCards.style.display = 'block';
        upcomingBookings.style.display = 'none';
    });

        document.addEventListener('DOMContentLoaded', function () {
            var logOutButton = document.getElementById('LogOut');

            logOutButton.addEventListener('click', function () {
                // Show an alert when the button is clicked
                alert('You have been logged out.');
            });
        });

    allCards.style.display = 'block';
    upcomingBookings.style.display = 'none';</script>
</body>