@model SVG_Restaurants.ViewModels.CustomerDetailsVM

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css" />
</head>
<style type="text/css">
    body {
        background-color: #A9927D;
    }
</style>
<div class="text-center">
    <h1 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
        Soylent Green Ventures
    </h1>
</div>
<body>
    <div class="row justify-content-end">
        @{
            // Display Login buttons if customerID is not present
            if (@Model.CustomerID == 0)
            {
                <div class="col-auto">
                    <a asp-controller="Customers" asp-action="Login" class="btn btn-outline">Login as Customer</a>
                </div>
                <div class="col-auto">
                    <a asp-controller="RestaurantWorkers" asp-action="Login" class="btn btn-outline">Login as Staff</a>
                </div>
            }
            else
            {
                <div class="col-auto">
                    <a asp-controller="Customers" asp-action="Delete" asp-route-customerID="@Context.Request.Query["CustomerID"]" class="btn btn-outline">Delete Account</a>
                </div>
                <div class="col-auto">
                    <a asp-controller="Customers" asp-action="Edit" asp-route-customerID="@Context.Request.Query["CustomerID"]" class="btn btn-outline">Edit Profile</a>
                </div>
                <div class="col-auto">
                    <a id="LogOut" asp-controller="Home" asp-action="Index" class="btn btn-outline">Log out</a>
                </div>
            }
        }
    </div>


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="restaurantsLink" class="nav-link active btn-outline" aria-current="page" href="#">Restaurants</a>
        </li>
        <li class="nav-item">
            <a id="upcomingBookingsLink" class="nav-link active btn-outline" aria-current="page" href="#">Upcoming Bookings</a>
        </li>
        @if (Model.CustomerID != 0) {
        <li class="nav-item">
            <a id="loyaltyPointsLink" class="nav-link active btn-outline" aria-current="page" href="#">LoyaltyPoints</a>
        </li>
        }
    </ul>
    @if (Model.CustomerID != 0)
    {
        <div id="loyaltyPoints" style="padding-top: 20px;">
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
            <div class="md:flex">
                <div class="p-8">
                    <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
                    <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible accommodation for your team</a>
                    <p class="mt-2 text-slate-500" style="padding-bottom: 10px;">Points balance</p>
                        <div class="flex max-w-md h-4 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700 items-center">
                            <div class="flex flex-col justify-center overflow-hidden bg-orange-500 text-xs text-black text-center" role="progressbar" style="width: @(ViewBag.LoyaltyPoints)%" aria-valuenow="@(ViewBag.LoyaltyPoints)" aria-valuemin="0" aria-valuemax="500">@ViewBag.LoyaltyPoints%</div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    }
    @{
        if (Model.CustomerID == 0)
        {
            <div class="text-center">
                <div id="upcomingBookings">
                    <h2 class="font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">
                        Log in to see your upcoming bookings!
                    </h2>
                </div>
            </div>
        }
        else
        {
            <div class="">
                <div id="upcomingBookings">
                    @{
                        if (Model.Reservations.Count() == 0)
                        {
                            <h2 class="font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">No upcoming bookings :(</h2>
                        }
                        else
                        {
                            foreach (var reservation in Model.Reservations)
                            {
                                @*<div>
                                        <p>Reservation ID is: @reservation.ReservationId</p>
                                        <p>Restaurant ID is: @reservation.RestaurantId</p>
                                        <p>The booking time is: @reservation.ReservationTiming</p>
                                        <p>The number of people for this booking is: @reservation.NumberOfPeople</p>
                                        <hr />
                                    </div>*@

                                <div class="flex flex-col justify-center items-center h-[30vh]">
                                    <div class="relative flex flex-col items-center rounded-[20px] w-[700px] max-w-[95%] mx-auto bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3">
                                        <a asp-controller="Reservations" asp-action="Delete" asp-route-id="@reservation.ReservationId" class="absolute top-2 right-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                        </a>
                                        <a asp-controller="Reservations" asp-action="Edit" asp-route-id="@reservation.ReservationId" class="absolute top-8 right-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                            </svg>
                                        </a>
                                        <div class="mt-2 mb-8 w-full">
                                            <h4 class="px-2 text-xl font-bold text-navy-700 dark:text-white">
                                                Reservation ID: @reservation.ReservationId
                                            </h4>
                                            @*<p class="mt-2 px-2 text-base text-gray-600">
                                                Restaurant ID: @reservation.RestaurantId

                                            </p>*@
                                            @if (reservation.Restaurant != null)
                                            {
                                                <p class="mt-2 px-2 text-base text-gray-600">Restaurant: @reservation.Restaurant.RestaurantName</p>

                                            }
                                        </div>

                                        <div class="grid grid-cols-2 gap-4 px-2 w-full">
                                            <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                                                <p class="text-sm text-gray-600">Number of People</p>
                                                <p class="text-base font-medium text-navy-700 dark:text-white">
                                                    @reservation.NumberOfPeople
                                                </p>
                                            </div>

                                            <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                                                <p class="text-sm text-gray-600">Booking time</p>
                                                <p class="text-base font-medium text-navy-700 dark:text-white">
                                                    @reservation.ReservationTiming
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    }
                </div>
            </div>
        }
    }

<!-- Card Blog -->
<div id="allCards" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="row">
        <!-- Card -->
        <a asp-controller="Restaurants" asp-action="BambooLeaf" asp-route-customerID="@Context.Request.Query["CustomerID"]" asp-route-restaurantID="1" class="col-4 group rounded-xl overflow-hidden" id="restaurantCard">
            <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
                <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:text-black group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/img/Bamboo Restaurant.jpg" alt="Image Description">
                <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900">
                    Special Banquet Available!
                </span>
            </div>

            <div class="mt-7">
                <h3 class="text-xl font-semibold text-sm mb-2 dark:text-black" style="font-family: Baskerville">
                    Bamboo Leaf
                </h3>
                <p class="mt-3 mb-2 hover:text-black dark:text-black">
                    Discover a modern twist on Asian fusion cuisine, drawing inspiration from the simplicity and originality of bamboo leaves. Join us at 25 Gouger Street, Adelaide!
                </p>
                <p></p>

                <p class="mt-5 inline-flex items-center gap-x-1.5 decoration-2 group-hover:underline font-medium" style="color: #362417">
                    Make a reservation
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </p>

            </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a asp-controller="Restaurants" asp-action="LaOeste" asp-route-customerID="@Context.Request.Query["CustomerID"]" asp-route-restaurantID="2" class="col-4 group rounded-xl overflow-hidden" id="restaurantCard">
            <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
                <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/img/Brazilian Restaurant.jpg" alt="Image Description">
            </div>

            <div class="mt-7">
                <h3 class="text-xl font-semibold text-sm mb-2 dark:text-black" style="font-family: Baskerville">
                    La Oeste De La Mar
                </h3>
                <p class="mt-3 mb-2 dark:text-black">
                    La Oeste De La Mar: Sizzling Brazilian flavors in the heart of Adelaide. Discover our stunning restaurant at 40 120 North Terrace. Join us for an unforgettable taste of Brazil!
                </p>
                <p></p>
                <p class="mt-5 inline-flex items-center gap-x-1.5 decoration-2 group-hover:underline font-medium" style="color: #362417">
                    Make a reservation
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </p>
            </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a asp-controller="Restaurants" asp-action="Mexikana" asp-route-customerID="@Context.Request.Query["CustomerID"]" asp-route-restaurantID="3" class="col-4 group rounded-xl overflow-hidden" id="restaurantCard">
            <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
                <img class="w-full h-full absolute top-0 left-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="/img/Mexican Restaurant.jpg" alt="Image Description">
                <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900">
                    Special Banquet Available!
                </span>
            </div>

            <div class="mt-7">
                <h3 class="text-xl font-semibold text-sm mb-2 dark:text-black" style="font-family: Baskerville">
                    Mexikana
                </h3>
                <p class="mt-3 mb-2 dark:text-black">
                    Indulge in a fusion of Korean and Mexican flavors designed with hipsters in mind! Join us at 40 Fullarton Road in Norwood, where culinary creativity meets vibes.
                </p>
                <p class="mt-5 inline-flex items-center gap-x-1.5 decoration-2 group-hover:underline font-medium" style="color: #362417">
                    Make a reservation
                    <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </p>
            </div>
        </a>
        <!-- End Card -->

    </div>
    <!-- End Card Blog -->
</div>

    <script>// Event listener for the "Upcoming Bookings" link
        const upcomingBookingsLink = document.getElementById('upcomingBookingsLink');
        const allCards = document.getElementById('allCards');
        const upcomingBookings = document.getElementById('upcomingBookings');
        const loyaltyPoints = document.getElementById('loyaltyPoints');
        const restaurantsLink = document.getElementById('restaurantsLink');

        upcomingBookingsLink.addEventListener('click', function (event) {

            allCards.style.display = 'none';
            upcomingBookings.style.display = 'block';
            loyaltyPoints.style.display = 'none';

        });

        // Event listener for the "Restaurants" link
        restaurantsLink.addEventListener('click', function (event) {
            allCards.style.display = 'block';
            upcomingBookings.style.display = 'none';
            loyaltyPoints.style.display = 'none';
        });

        document.addEventListener('DOMContentLoaded', function () {
            var loyaltyPointsButton = document.getElementById('loyaltyPointsLink');

            loyaltyPointsButton.addEventListener('click', function () {
                allCards.style.display = 'none';
                upcomingBookings.style.display = 'none';
                loyaltyPoints.style.display = 'block';
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var logOutButton = document.getElementById('LogOut');

            logOutButton.addEventListener('click', function () {
                // Show an alert when the button is clicked
                alert('You have been logged out.');
            });
        });

        allCards.style.display = 'block';
        upcomingBookings.style.display = 'none';
        loyaltyPoints.style.display = 'none';
        </script>
</body>